<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
<!--  <title>Input</title>-->
</head>
<body>

<p>Карточки для изучения английских слов</p>
<form action="" method="post" name="form">
    <br>
Пользователь:&nbsp;<input maxlength="25" name="user" size="20" type="text"></p>
Слово (Англ. - Рус.):&nbsp;<input name="en_word" size="20" type="text">&nbsp;-&nbsp;<input name="ru_word" size="20" type="text"></p>
<input type="submit" name="add" value="add word"></p>
</form>
</body>
</html>
